<header class="header">
  <nav class="nav">
    <div class="nav__wrapper">
      <div class="nav__section">
        <a class="nav__listItem--logo"></a>
        <a class="nav__listItem--home">Home</a>
        <a class="nav__listItem">Sme</a>
        <a class="nav__listItem">Corporate</a>
        <a class="nav__listItem">Products
          <div class="more">
            <ul class="subnav">
              <span class="arrow"></span>
              <li class="subnav__list">Api</li>
              <li class="subnav__list">Mobile Apps</li>
              <li class="subnav__list">Dashboard</li>
              <li class="subnav__list">Career</li>
              <li class="subnav__list">About</li>
            </ul>
          </div>
        </a>
      </div>
    </div>
    <div class="nav__section">
      <a class="nav__listItem">Become a courier</a>
      <a class="nav__listItem--signin">Sign in</a>
      <a class="nav__listItem--menu"></a>
    </div>
  </nav>
</header>
