<section class="maincontent">
  <article class="maincontent__block">
    <i class="iOS -hideDesktop"></i>
    <p><i class="iOS -showDesktop"></i>Stuart for iOS and Android. Download the app to request, track and manage your deliveries <span class="info">Learn more</span></p>
    <h2>Why business love Stuart</h2>
    <span class="details">Last mile urban logistics for everyone</span>
  </article>
  <article class="maincontent__block">
    <div class="maincontent__sme">
      <div class="maincontent__mobile">
        <h3>SME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus sodales</p>
      </div>
    </div>
    <div class="maincontent__corporate">
      <div class="maincontent__mobile">
        <h3>Corporate</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus sodales</p>
      </div>
    </div>
  </article>
  <article class="maincontent__block">
    <div class="maincontent__desktop">
      <h3>SME</h3>
      <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus sodales</p>
      <span class="info">Learn more</span>
    </div>
    <div class="maincontent__desktop">
      <h3>Corporate</h3>
      <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus sodales</p>
      <span class="info">Learn more</span>
    </div>
  </article>
</section>
