<div class="menu">
  <a class="signIn">Sign In</a>
  <a class="close"></a>
  <hr>
  <nav>
     <ul class="menu__block">
        <li class="menu__list"><a class="menu__link" href="#">Home</a></li>
        <li class="menu__list"><a class="menu__link" href="#">About</a></li>
        <li class="menu__list"><a class="menu__link" href="#">Clients</a></li>
        <li class="menu__list"><a class="menu__link" href="#">Contact Us</a></li>
     </ul>
     <hr>
     <ul class="menu__block">
        <li class="menu__list"><a class="menu__link" href="#">Become a courier</a></li>
        <li class="menu__list"><a class="menu__link" href="#">Careers</a></li>
        <li class="menu__list"><a class="menu__link" href="#">About</a></li>
     </ul>
  </nav>
</div>
